<template>
  <div class="filter__buttons">
    <FilterButton
        class="filter-button"
        :class="{ 'filter-button--active': isActiveFilter(filter) }"
        :key="i"
        @click.native="$emit('switch-filter', filter)"
        v-for="(filter, i) in filters"
        :filter="filter"
        >
    </FilterButton>
  </div>
</template>

<script>
import FilterButton from './FilterButton.vue'

export default {
  name: 'Filters',
  props: [
    'filters',
    'activeFilters'
  ],
  components: {
    FilterButton
  },
  data() {
    return {
      filterImages: {
        'chicken': './icons/meat.svg',
        'fish': './icons/fish.svg',
        'cookies': './icons/cookies.svg',
        'vegetarian': './icons/vegetarian.svg'
      }
    }
  },
  methods: {
    isActiveFilter(filter) {
      return this.activeFilters.indexOf(filter) != -1
    }
  }
}
</script>

<style lang="stylus">
transition()
  transition .2s all ease

.filter__buttons
  padding-top 32px
  padding-bottom 32px
  & > *
    margin-right 45px
    @media(max-width: 1040px)
      margin-right 35px
  & :last-child
    margin-right 0
.filter-button
  background none
  outline none
  border 0
  padding 0
  cursor pointer
  text-transform capitalize
  color #37393C
  line-height 17px
  transition()
  &--hover,
  &--active
    color #F03360
    .filter-button
      &__icon--chicken
        background-image url('/icons/chickenActive.svg')
      &__icon--cookies
        background-image url('/icons/cookiesActive.svg')
      &__icon--vegetarian
        background-image url('/icons/vegetarianActive.svg')
      &__icon--fish
        background-image url('/icons/fishActive.svg')

  & > *
    vertical-align middle
    display inline-block
  &__text
    pointer-events none
  &__icon
    width 32px
    height 32px
    background-repeat no-repeat
    background-size contain
    background-position center
    margin-right 8px
    pointer-events none
    transition()
    &--chicken
      background-image url('/icons/chicken.svg')
    &--cookies
      background-image url('/icons/cookies.svg')
    &--vegetarian
      background-image url('/icons/vegetarian.svg')
    &--fish
      background-image url('/icons/fish.svg')
</style>