<template>
  <button @mouseover.self="switchHover" @mouseout.self="switchHover" :class="{ 'filter-button--hover': isHover }">
    <span class="filter-button__icon" :class="'filter-button__icon--' + filter"></span>
    <span class="filter-button__text">{{ filter }}</span>
  </button>
</template>

<script>
import { isMobile } from 'mobile-device-detect'

export default {
  name: 'FilterButton',
  props: [
    'filter'
  ],
  data() {
    return {
      isHover: false
    }
  },
  methods: {
    switchHover() {
      this.isHover = isMobile ? false : !this.isHover
    }
  }
}
</script>