<template>
  <footer>
    <div class="container">
      <div class="footer__container">
        <div class="row">
          <div class="col-6 col-lg-3 footer__copyright">
            <span>
              Copyright EZSoftware. All Rights Reserved.
            </span>
          </div>
          <div class="col-6 col-lg-3 footer__links">
            <ul class="footer-links">
              <li>
                <a href="#" class="footer__link">Imprint</a>
              </li>
              <li>
                <a href="#" class="footer__link">Terms</a>
              </li>
              <li>
                <a href="#" class="footer__link">FAQ</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </footer>
</template>

<script>
  export default {
    name: 'Footer'
  }
</script>

<style lang="stylus" scoped>
.footer
  &__links
    width 100%
    justify-content  right
    order 2
    @media(max-width: 991px)
      order 1
      justify-content center

  &__link
    color #F03360
    text-decoration none
    &:hover
      text-decoration underline
  &__copyright
    font-size 0.875rem
    line-height 20px
    color #BFBFC5
    @media(max-width: 991px)
      order 2
      justify-content center
  &__container
    padding-bottom 75px
    @media(max-width: 991px)
      padding-bottom 20px
    &:before
      content ''
      display block
      width calc(100% - 20px)
      margin-right 10px
      margin-left 10px
      height 1px
      opacity 0.2
      background-color #37393C
      margin-bottom 40px
      @media(max-width: 991px)
        margin-bottom 0

.footer-links
  list-style none
  @media(max-width: 991px)
    padding-left 0
    padding-top 20px
    padding-bottom 20px
  & > *
    display inline-block
    margin-right 48px
    &:last-of-type
      margin-right 0
</style>