<template>
  <header>
    <div class="container">
      <div class="header__container">
        <div class="row">
          <div class="col-3 col-lg-2 header__logo">
            <a href="#">
              <img src="../assets/logo.svg"/>
            </a>
          </div>
          <div class="col-6 col-lg-3 header__menu">
            <Filters :filters="filters" :active-filters="activeFilters" @switch-filter="switchFilter"/>
          </div>
          <div class="col-3 col-lg-1 header__favorite">
            <transition name="fade">
              <span v-if="countOfFavorites">Favorite: {{ countOfFavorites }} dish</span>
            </transition>
          </div>
        </div>
      </div>
    </div>
  </header>
</template>

<script>
import Filters from './Filters.vue'

export default {
  name: 'Header',
  props: [
    'countOfFavorites',
    'filters',
    'activeFilters'
  ],
  components: {
    Filters
  },
  methods: {
    switchFilter(filter) {
      this.$emit('switch-filter', filter)
    }
  }
}
</script>

<style lang="stylus" scoped>
/*VUE TRANSITION*/
.fade-enter-active, .fade-leave-active
  transition: opacity .2s
.fade-enter, .fade-leave-to
  opacity 0


transition()
  transition .2s all ease

.header
  &__container
    transition()
    padding 45px 0 45px
    @media(max-width: 991px)
      padding 24px 0 0
  &__logo
    order 1
    align-items center
  &__menu
    display flex
    align-items center
    font-size 0.875rem
    order 2
    @media(max-width: 991px)
      order 3
      margin-top 10px
  &__favorite
    transition()
    display flex
    align-items center
    justify-content flex-end
    font-size 1rem
    line-height 20px
    text-align right
    color #F03360
    order 3
    @media(max-width: 991px)
      order 2
    @media(max-width: 400px)
      font-size 0.875rem
</style>