<template>
  <div class="cart">
    <div :style="{ 'background-image': 'url(' + product.image + ')' }" class="cart__image">
      <button class="cart__favorite-button" @click="$emit('add-to-favorites', product.name)" :class="{'cart__favorite-button--active': product.favorite}"></button>
    </div>
    <div class="cart__content">
      <div class="cart__name">
        {{ product.name }}
      </div>
      <div class="cart__description">
        {{ product.description }}
      </div>
    </div>
    <div class="cart__footer">
      <div class="footer-info">
        <span class="footer-info__icon footer-info__icon--clock"></span>
        <span class="footer-info__text">{{ product.cooking_time }}</span>
      </div>
      <div class="footer-info">
        <span class="footer-info__icon" :class="'footer-info__icon--' + product.categorie_id"></span>
        <span class="footer-info__text">{{ product.categorie_id }}</span>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  name: 'Product',
  props: [
    'product'
  ]
}
</script>

<style lang="stylus" scoped>
transition()
  transition .2s all ease

.cart
  display flex
  align-self stretch
  flex-direction column
  width 100%
  background: #FFFFFF
  border 1px solid #EAEAEA
  box-sizing border-box
  border-radius 3px
  margin-bottom 20px
  cursor pointer
  transition()
  &:hover
    box-shadow 0px 8px 20px rgba(0, 0, 0, 0.1)
  &:hover &__favorite-button
    display block
  &:hover &__name
    color #F03360
  &__image
    width 100%
    min-height 230px
    background-size cover
    background-repeat no-repeat
    background-position center
    position relative
  &__favorite-button
    outline none
    display none
    position absolute
    right 15px
    top 15px
    padding 0
    background none
    border 0
    opacity .9
    width 32px
    height 32px
    cursor pointer
    background-image url('/icons/favorite.svg')
    background-size contain
    background-repeat no-repeat
    transition()
    @media(max-width: 768px)
      display block
    &:hover
      opacity 1
    &--active
      display block
      opacity 1
      background-image url('/icons/favoriteActive.svg')
  &__content
    padding 25px 25px 13px
    border-top 1px solid #EAEAEA
    flex-grow 1
    min-height 120px
  &__name
    font-weight 500
    font-size 1.25rem
    line-height 24px
    text-align center
    color #37393C
    margin-bottom 12px
    transition()
  &__description
    font-size 0.875rem
    line-height: 20px
    text-align center
    color #BFBFC5
  &__footer
    display flex
    flex-direction row
    border-top 1px solid #EAEAEA
    & > *
      flex-grow 1
      flex-shrink 0
      text-align center
      flex-basis 0
      border-left 1px solid #EAEAEA
      padding-top 8px
      padding-bottom 8px
      font-size 0.875rem
      text-transform capitalize
    & :first-child
      border-left none

  .footer-info
    &__icon
      display inline-block
      width 32px
      height 32px
      vertical-align middle
      margin-right 3px
      &--clock
        background-image url('/icons/clock.svg')
      &--chicken
        background-image url('/icons/chicken.svg')
      &--fish
        background-image url('/icons/fish.svg')
      &--vegetarian
        background-image url('/icons/vegetarian.svg')
      &--cookies
        background-image url('/icons/cookies.svg')
    &__text
      vertical-align middle
</style>