<template>
  <div class="recipe">
    <Header :count-of-favorites="countOfFavorites" :filters="filters" :active-filters="activeFilters" @switch-filter="switchFilter"/>
    <main>
      <div class="container">
        <div class="row">
          <div class="col-6 col-md-3 col-lg-2" v-for="(item, i) in filteredItems" :key="i">
            <Product :product="item" @add-to-favorites="addToFavorites"/>
          </div>
        </div>
        <div class="row">
          <div class="col-6 more-recipe">
            <button class="more-recipe__button">More recipe</button>
          </div>
        </div>
      </div>
    </main>
    <Footer/>
  </div>
</template>

<script>
import Header from './Header.vue'
import Footer from './Footer.vue'
import Product from './Product.vue'
import products from '../../public/data.json'

export default {
  name: 'Recipe',
  props: {
    msg: String
  },
  components: {
    Header,
    Footer,
    Product
  },
  data() {
    return {
      filters: [],
      activeFilters: [],
      products
    }
  },
  created() {
    this.setFilters()
  },
  computed: {
    items() {
      return this.products.map((product) => {
        return Object.assign(product, {
          favorite: this.favorites.indexOf(product.name) != -1
        });
      })
    },
    filteredItems() {
      let filteredItems = this.items
      if (this.activeFilters.length) {
        filteredItems = this.products.filter((product) => {
          return this.activeFilters.indexOf(product.categorie_id) != -1
        })
      }
      return filteredItems
    },
    favorites() {
      return this.$store.getters.FAVORITES;
    },
    countOfFavorites() {
      return this.favorites.length;
    }
  },
  methods: {
    addToFavorites(name) {
      this.$store.commit('changeFavorites', { name })
    },
    getCategoriesIds() {
      return this.products.map((product)=> {
        return product.categorie_id
      });
    },
    setFilters() {
      let categoriesId = this.getCategoriesIds();
      this.filters = categoriesId.filter((filter, index)=> {
        return categoriesId.indexOf(filter) === index
      });
    },
    switchFilter(filter) {
      let filterIndex = this.activeFilters.indexOf(filter)
      filterIndex !== -1 ? this.activeFilters.splice(filterIndex, 1) : this.activeFilters.push(filter)
    }
  }
}
</script>

<style lang="stylus">
transition()
  transition .2s all ease

.recipe
  z-index 1

.more-recipe
  text-align center
  justify-content center
  align-items center
  padding-top 40px
  padding-bottom 75px
  &__button
    background none
    font-size 1.125rem
    line-height 28px
    cursor pointer
    padding 10px 35px
    border-radius 3px
    border 1px solid #F03360
    color #F03360
    transition()
    &:hover
      border 1px solid #000
      color #000
</style>
