<template>
  <div id="app">
    <Recipe/>
  </div>
</template>

<script>
import Recipe from './components/Recipe.vue'

export default {
  name: 'app',
  components: {
    Recipe
  }
}
</script>

<style src="../public/fonts/rubik/rubik.css"></style>
<style lang="stylus">
$cols = 6
*
  margin 0
  box-sizing border-box
.row
  display flex
  flex-wrap wrap
for i in 1..$cols
  .col-{i}
    display flex
    flex-grow 0
    flex-shrink 0
    flex-basis (i/$cols)*100%
    max-width (i/$cols)*100%
    padding-left 10px
    padding-right 10px
@media(min-width: 769px)
  for i in 1..$cols
    .col-md-{i}
      flex-basis (i/$cols)*100%
      max-width (i/$cols)*100%
@media(min-width: 992px)
  for i in 1..$cols
    .col-lg-{i}
      flex-basis (i/$cols)*100%
      max-width (i/$cols)*100%

.container
  width 100%
  max-width 1100px
  padding-left 10px
  padding-right 10px
  margin 0 auto
#app
  background-color #E5E5E5
  display flex
  flex-direction column
  min-height 100vh
  font-style normal
  font-size 16px
  font-family 'Rubik', sans-serif
  -webkit-font-smoothing antialiased
  -moz-osx-font-smoothing grayscale
  &:before
    position absolute
    top 0
    left 0
    right 0
    width 100%
    height 330px
    content ''
    display block
    background-color #ffffff
</style>
